
.navbar{
    background-color:  #4f6e6a;
}

.jumbotron{
    padding-top: 6rem;
    background-color:  #4f6e6acc;
}

#project{
    background-color:  #4f6e6acc;
}
.footer{
    background-color: #4f6e6a;
    
}
section{
    padding-top: 5rem;
}